#main {
	width: 1000px;
	margin: auto;
	text-align: left;
	border: 2px dotted grey;
	padding: 10px;
	font-variant: small-caps;
}


input[type="text"], select, button, textarea {
	border: 1px solid #A0A0A0;
	border-radius: 3px;
	padding: 2px;
	margin: 2px;
	background: white;
}

input[type="text"]:hover, input[type="text"]:focus, select:hover, select:focus, button:hover, button:focus, textarea:hover, textarea:focus {
	border: 1px solid #505050;
}

textarea {
	margin: 0;
	resize: none;
}

button {
	width: 153px;
	height: 24px;
	text-align: left;
}

body {
	text-align: center;
	margin: 0;
}

fieldset {
	border: 2px dotted black;
}

#field1, #field2, #field3 {
	margin-right: 25px !important;
	float:left
}

#field1, #field2, #field3, #field4 {
	margin-top:25px;
	width:200px;
}
