#main {
	width: 1000px;
	margin: auto;
	text-align: left;
	border: 2px solid black;
	padding: 10px;
}


input[type="text"], select, button, textarea {
	border: 1px solid #A0A0A0;
	border-radius: 3px;
	padding: 2px;
	margin: 2px;
	background: white;
}

input[type="text"]:hover, input[type="text"]:focus, select:hover, select:focus, button:hover, button:focus, textarea:hover, textarea:focus {
	border: 1px solid #505050;
}

textarea {
	margin: 0;
	resize: none;
}

button {
	width: 153px;
	height: 24px;
	text-align: left;
}

body {
	text-align: center;
	margin: 0;
}
